header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.principal{
    background-color: bisque;
    padding: 20px;
}

.principal p{
    text-align: center;
    background-color: bisque;
}

#mision{
    font-size: 20px;
}

em strong{
    color: red;
}

.diferenciales{
    background-color: white;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.items{
    font-style: italic;
    font-size: 20px;
    padding: 20px;
}

.lista-diferenciales{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

footer{
    text-align: center;
    background: url(src/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}